@import "../scss/";

body {
	background-color: $bgColor;
}

a {
	color: $mainFontcolor;
	text-decoration: none;

	transition: all 250ms ease;

	&:hover {
		color: $hoverColor;
		text-decoration: underline;
	}

	&:active {
		color: $activeColor;
		text-decoration: underline;
	}
}
