.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	height: 780px;

	.imgBottom {
		align-self: flex-end;
	}
}

.list {
	align-self: center;

	.item {
		padding: 0 28px 10px;

		font-size: 28px;
		font-weight: 500;
		text-transform: capitalize;
		text-align: center;

		border-bottom: 1px solid currentColor;

		margin-bottom: 20px;
	}
}
