@import "@/scss/";

.wrapper {
	display: flex;
	justify-content: space-between;

	.subwrapper {
		width: 410px;

		display: flex;
		flex-direction: column;
		gap: 20px;

		font-size: 20px;
		.subtitle {
			font-weight: 600;
			text-transform: uppercase;
		}

		.text {
			font-weight: 400;
		}

		.link {
			width: 220px;
			text-align: center;
			font-size: 16px;
			font-weight: 500;
			line-height: 125%;

			padding: 12px 16px;

			border-radius: 10px;
			border: 1px solid currentColor;

			&::after {
				width: 0;
			}
		}
	}
}
