@import "@/scss/";

.wrapper {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	align-items: center;

	text-align: center;

	@include desktop {
		align-items: flex-start;
		flex-direction: row;
		text-align: start;
	}

	.subwrapper {
		display: flex;
		flex-direction: column;

		gap: 24px;

		font-size: 20px;
		line-height: normal;

		@include tablet {
			width: 570px;
		}

		@include desktop {
			width: 450px;
			gap: 50px;
		}

		.subtitle {
			font-size: 16px;
			font-weight: 600;
			text-transform: uppercase;

			@include tablet {
				font-size: inherit;
			}
		}

		.text {
			font-size: 12px;
			font-weight: 400;

			@include tablet {
				font-size: 16px;
			}

			@include desktop {
				font-size: inherit;
			}
		}

		.link {
			width: 150px;

			font-size: 12px;
			font-weight: 500;
			line-height: 166.667%;
			text-align: center;

			padding: 12px 16px;

			border-radius: 10px;
			border: 1px solid currentColor;

			margin: 0 auto;

			@include tablet {
				width: 220px;

				font-size: 16px;
				line-height: 125%;
			}

			@include desktop {
				margin: 0 auto 0 0;
			}

			&::after {
				width: 0;
			}
		}
	}
}
