@import "@/scss/";

.wrapper {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	align-items: center;

	text-align: center;

	@include desktop {
		align-items: flex-start;
		flex-direction: row;
		text-align: start;
	}

	.subwrapper {
		display: flex;
		flex-direction: column;

		gap: 24px;

		font-size: 16px;
		line-height: normal;

		@include tablet {
			gap: 40px;
			font-size: 20px;

			width: 570px;
		}

		@include desktop {
			width: 450px;
			gap: 50px;
		}

		.subtitle {
			font-weight: 600;
			text-transform: uppercase;
		}

		.text {
			font-size: 12px;
			font-weight: 400;
			line-height: 133.333%;

			@include desktop {
				font-size: inherit;
			}
		}

		.link {
			padding: 10px;

			display: inline-flex;
			align-items: center;
			gap: 12px;

			font-size: 12px;
			font-style: italic;
			font-weight: 500;
			line-height: 166.667%;

			margin: 0 auto;

			@include desktop {
				font-size: inherit;
			}

			@include desktop {
				font-style: normal;
				margin: 0 auto 0 0;
			}

			.icon {
				width: 40px;
				height: 40px;
				background-color: currentColor;
				border-radius: 50%;

				display: flex;
				justify-content: center;
				align-items: center;

				svg {
					color: $bgColor;
					transform: rotate(-180deg);
				}
			}
		}
	}
}
