.wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;

	margin-bottom: 120px;

	.subWrapper {
		width: 540px;

		display: flex;
		flex-direction: column;
		gap: 40px;

		p {
			font-size: 20px;
			font-weight: 400;
			line-height: 140%;
		}
	}

	.title {
		font-size: 64px;
		font-weight: 600;
		text-transform: uppercase;
	}
}
