// color vars
$mainFontcolor: #282828;
$hoverColor: #bb824c;
$activeColor: #e7a465;
$bgColor: #fffefc;
$bannerColor: #2a3d5e;
$attention: #ea362b;

// font vars

$montserrat: "Montserrat", sans-serif;
$nothing: "Nothing You Could Do", cursive;
$cormorant: "Cormorant", serif;

// transition vars

$trDuration: 250ms;
$trTimeFunc: ease-in;
