@import "@/scss/";

.benefits {
	padding: 10px 56px;

	color: $bgColor;
	background-color: $hoverColor;

	font-size: 10px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	column-gap: 50px;

	margin-bottom: 40px;

	@include small-mobile {
		column-gap: 20%;
		font-size: 6px;
	}

	@include tablet {
		width: 100%;
		padding: 22px 0;

		font-size: 16px;

		column-gap: 0;
		justify-content: center;
		flex-wrap: nowrap;

		margin-bottom: 50px;
	}

	@include desktop {
		font-size: 20px;

		margin-bottom: 120px;
	}

	.benefit {
		display: flex;
		align-items: center;
		gap: 4px;

		padding: 5px 2px;

		&:first-child {
			border-bottom: 1px solid $bgColor;
		}

		&:last-child {
			border-top: 1px solid $bgColor;
		}

		@include tablet {
			padding: 4px 20px;
			gap: 8px;

			&:first-child {
				border-bottom: none;
			}

			&:last-child {
				border-top: none;
			}

			&:not(:last-child) {
				border-right: 1.5px solid $bgColor;
			}
		}

		@include desktop {
			padding: 12px 90px;
			gap: 16px;
		}

		.icon {
			fill: $bgColor;

			width: 12px;
			height: 12px;

			@include tablet {
				width: 16px;
				height: 16px;
			}

			@include desktop {
				width: 24px;
				height: 24px;
			}
		}
	}
}
