@import "@/scss/";

.gallery {
	display: flex;
	flex-direction: column;
	gap: 24px;

	@include desktop {
		gap: 40px;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		gap: 24px;

		@include tablet {
			flex-direction: row;
		}

		@include desktop {
			gap: 40px;
		}

		.big {
			width: 100%;
			height: 200px;

			object-fit: cover;

			@include tablet {
				width: 332px;
				height: 222px;
			}

			@include desktop {
				width: 620px;
				height: 420px;
			}
		}

		.small {
			width: 100%;
			height: 200px;

			object-fit: cover;

			@include tablet {
				width: 213px;
				height: 250px;
			}

			@include desktop {
				width: 400px;
				height: 420px;
			}
		}
	}
}
