@import "@/scss/";

.container {
	margin: 0 auto;

	width: 90%;
	padding: 0 10px;

	@include mobile {
		width: 343px;
		padding: 0 16px;
	}

	@include tablet {
		width: 688px;
		padding: 0 40px;
	}

	@include desktop {
		width: 1280px;
		padding: 0 80px;
	}
}
