@import "@/scss/";

.form {
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 12px;

	@include tablet {
		gap: 16px;
	}

	@include desktop {
		width: 50%;
	}

	input,
	textarea {
		width: 90%;
		background-color: transparent;

		font-family: inherit;
		font-size: 12px;

		border: 1px solid $mainFontcolor;
		border-radius: 10px;
		padding: 10px 16px;

		outline: 1.5px solid transparent;

		transition-property: outline;
		transition-duration: $trDuration;
		transition-timing-function: $trTimeFunc;

		@include small-mobile {
			width: 85%;
		}

		@include tablet {
			width: 93%;
			padding: 20px 22px;

			font-size: 16px;
		}

		@include desktop {
			width: 100%;
		}

		&::placeholder {
			font-family: inherit;
			font-size: 12px;
			line-height: 125%;

			@include tablet {
				font-size: 16px;
			}
		}

		&:focus {
			outline: 1.5px solid $hoverColor;
		}
	}

	textarea {
		height: 140px;
		resize: none;
	}

	.submit {
		padding: 12px 16px;
		font-weight: 500;
		width: 165px;

		border-radius: 10px;
		border: 1px solid $mainFontcolor;

		transition-property: border, background-color, color;
		transition-duration: $trDuration;
		transition-timing-function: $trTimeFunc;

		&:hover {
			background-color: $hoverColor;
			border: 1px solid transparent;
			color: $bgColor;
		}

		&:active {
			background-color: $activeColor;
			border: 1px solid transparent;
			color: $bgColor;
		}

		@include tablet {
			width: auto;
		}
	}

	.error {
		font-size: 10px;
		font-weight: 500;
		color: red;

		@include desktop {
			font-size: 12px;
		}
	}
}
