@import "@/scss/";

.switcher {
	font-size: 16px;
	font-weight: 500;

	display: flex;
	align-items: center;
	gap: 5px;
}

.btn {
	position: relative;

	font-size: 20px;
	font-weight: 500;
	font-family: inherit;
	text-transform: uppercase;

	color: inherit;
	background-color: transparent;

	transition-property: color, text-decoration;
	transition-duration: $trDuration;
	transition-timing-function: $trTimeFunc;

	&:hover,
	&:focus {
		color: $hoverColor;

		&::after {
			width: 100%;
			background-color: $hoverColor;
		}
	}

	&:active {
		color: $activeColor;
	}

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -1px;
		width: 0;
		height: 2px;
		background-color: $mainFontcolor;

		transition-property: width, background-color;
		transition-duration: $trDuration;
		transition-timing-function: $trTimeFunc;
	}
}

.current {
	composes: btn;
	background-color: transparent;

	color: $hoverColor;

	&::after {
		background-color: $hoverColor;
		width: 100%;
	}
}
