@import "@/scss/";

.benefits {
	width: 100%;
	padding: 16px 0;

	color: $bgColor;
	font-size: 10px;

	background-color: $hoverColor;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;

	margin-bottom: 40px;

	@include tablet {
		font-size: 16px;

		gap: 12px;

		margin-bottom: 80px;
	}

	@include desktop {
		padding: 24px 0;

		font-size: 20px;

		flex-direction: row;
		align-items: flex-start;
		gap: 0;

		margin-bottom: 120px;
	}

	.benefit {
		@include desktop {
			padding: 12px 50px;
			&:not(:last-child) {
				border-right: 1.5px solid $bgColor;
			}
		}
	}
}

.title {
	font-size: 32px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;

	margin-bottom: 30px;

	@include tablet {
		font-size: 40px;
		margin-bottom: 40px;
	}

	@include desktop {
		font-size: 64px;
		margin-bottom: 100px;
	}
}

.form {
	padding: 20px;

	border-radius: 10px;
	border: 1px solid currentColor;

	margin-bottom: 40px;

	@include tablet {
		padding: 40px 20px;

		margin-bottom: 80px;
	}

	@include desktop {
		padding: 80px;

		margin-bottom: 120px;
	}

	input,
	select,
	textarea {
		font-size: 16px;
		font-family: inherit;
		font-weight: 400;
		line-height: 150%;

		color: $mainFontcolor;

		padding-bottom: 10px;

		background-color: transparent;
		border: none;
		border-bottom: 1.5px solid currentColor;
		outline: none;
		resize: none;

		@include tablet {
			padding-bottom: 16px;
		}

		@include desktop {
			padding-left: 2px;

			font-size: 24px;
			line-height: 100%;
		}

		&::placeholder {
			color: $mainFontcolor;
		}

		transition-property: border-bottom;
		transition-duration: $trDuration;
		transition-timing-function: $trTimeFunc;

		&:focus {
			border-bottom: 1.5px solid $hoverColor;
		}
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		gap: 24px;

		margin-bottom: 24px;

		@include tablet {
			flex-direction: row;
			justify-content: space-between;

			margin-bottom: 40px;
		}

		.left,
		.right {
			display: flex;
			flex-direction: column;
			gap: 24px;

			@include tablet {
				gap: 48px;
			}

			input,
			select {
				@include tablet {
					width: 300px;
				}

				@include desktop {
					width: 480px;
				}
			}
		}
	}

	.note {
		font-size: 12px;
		font-weight: 400;
		line-height: 133.333%;
		text-align: center;

		margin-bottom: 24px;

		@include tablet {
			width: 330px;

			font-size: 16px;
			line-height: 150%;

			margin: 0 auto 50px;
		}

		@include desktop {
			width: 420px;

			font-size: 20px;
			line-height: 120%;
			text-align: start;

			margin: 0 0 40px;
		}
	}

	.additional {
		font-size: 16px;
		font-weight: 500;
		line-height: 150%;
		text-align: center;

		margin-bottom: 24px;

		@include tablet {
			font-size: 20px;
			line-height: 120%;

			margin-bottom: 40px;
		}

		@include desktop {
			font-size: 24px;
			line-height: 100%;

			margin-bottom: 80px;
		}
	}

	.checkboxes {
		display: flex;
		flex-direction: column;
		gap: 16px;

		text-align: center;
		font-size: 16px;
		font-weight: 400;
		line-height: 150%;

		margin-bottom: 24px;

		@include tablet {
			flex-direction: row;
			justify-content: space-between;

			margin-bottom: 40px;
		}

		@include desktop {
			font-size: 24px;
			line-height: 100%;

			margin-bottom: 80px;
		}

		label {
			user-select: none;
			display: flex;
			align-items: center;
			gap: 16px;

			cursor: pointer;
		}

		input {
			width: 0;
			display: none;

			&:checked ~ .checkbox {
				background-color: $hoverColor;
				border: 1.5px solid $hoverColor;
			}
		}

		.checkbox {
			width: 16px;
			height: 16px;

			border-radius: 5px;
			border: 1.5px solid currentColor;

			transition-property: border, background-color;
			transition-duration: 150ms;
			transition-timing-function: $trTimeFunc;

			@include tablet {
				width: 25px;
				height: 25px;
			}

			.icon {
				stroke: $bgColor;
				width: 15px;
				height: 15px;

				@include tablet {
					width: 24px;
					height: 24px;
				}
			}
		}
	}

	.subwrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: 24px;

		@include tablet {
			gap: 40px;
		}

		@include desktop {
			flex-direction: row;
			gap: 0;
		}

		textarea {
			width: 100%;
			line-height: normal;
			padding: 0;

			@include tablet {
				width: 400px;
			}

			@include desktop {
				width: 500px;
			}
		}

		button {
			color: $mainFontcolor;
			font-size: 16px;
			font-weight: 500;
			line-height: 125%;
			text-align: center;

			padding: 10px 40px;

			border-radius: 10px;
			border: none;
			border: 1.5px solid currentColor;

			transition-property: border, color;
			transition-duration: $trDuration;
			transition-timing-function: $trTimeFunc;

			@include tablet {
				font-size: 20px;
				font-weight: 500;
				line-height: 100%;

				padding: 20px 70px;
			}

			@include desktop {
				font-size: 24px;
				font-weight: 500;
				line-height: 83.333%;

				padding: 23px 90px;
			}

			&:focus,
			&:hover {
				color: $hoverColor;
				border: 1.5px solid $hoverColor;
			}
		}
	}

	.error {
		font-size: 10px;
		font-weight: 500;
		color: red;

		@include tablet {
			font-size: 12px;
		}
	}
}
