@import "@/scss/";

.mainCtrls {
	position: absolute;
	bottom: -40px;
	left: 50%;
	transform: translateX(-40%);
	z-index: 1;

	display: flex;
	gap: 24px;
	color: currentColor;

	@include desktop {
		gap: 90px;
	}
}

.ctrls {
	position: absolute;
	bottom: 110px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;

	display: flex;
	gap: 30px;
	color: $bgColor;

	@include desktop {
		bottom: 50px;
	}
}

.ctrl {
	color: currentColor;

	transition-property: color;
	transition-duration: $trDuration;
	transition-timing-function: $trTimeFunc;
	.icon {
		width: 28px;
		height: 28px;

		@include desktop {
			width: 25px;
			height: 25px;
		}

		&.next {
			transform: rotate(180deg);
		}
	}

	&:hover {
		color: $hoverColor;
	}
}
