@import "@/scss/";

.mainCtrls {
	position: absolute;
	bottom: -40px;
	left: 50%;
	transform: translateX(-40%);
	z-index: 1;

	display: flex;
	gap: 90px;
}

.ctrls {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;

	display: flex;
	gap: 30px;
}

.ctrl {
	color: currentColor;

	transition-property: color;
	transition-duration: $trDuration;
	transition-timing-function: $trTimeFunc;
	.icon {
		&.next {
			transform: rotate(180deg);
		}
	}

	&:hover {
		color: $hoverColor;
	}
}
