@import "@/scss/";

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include desktop {
		justify-content: space-between;
	}
}

.hidden {
	position: absolute;
	user-select: none;
	pointer-events: none;
	font-size: 0px;
	width: 0;
	height: 0;
	opacity: 0;
}

.wrapper {
	display: flex;
	gap: 6px;

	@include tablet {
		gap: 12px;
	}

	.icon {
		width: 20px;
		height: 20px;

		@include tablet {
			width: 28px;
			height: 28px;
		}

		@include desktop {
			width: 32px;
			height: 32px;
		}

		&::after {
			width: 0;
		}
	}
}

.logo {
	padding: 7px 0;

	&::after {
		display: none;
	}

	.logoIcon {
		width: 110px;
		height: 50px;

		@include small-mobile {
			width: 60px;
			height: auto;
		}

		@include tablet {
			width: 172px;
			height: 86px;
		}

		@include desktop {
			height: 91px;
		}
	}

	@include tablet {
		padding: 10px 0;
	}

	@include desktop {
		padding: 8px 0;
	}
}
