.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	padding: 8px 0;

	&::after {
		display: none;
	}
}

.wrapper {
	display: flex;
	gap: 12px;

	.icon {
		&::after {
			width: 0;
		}
	}
}
