@import "@/scss/";

.nav {
	padding: 22px 0;
	display: flex;
	justify-content: center;
	gap: 50px;
	outline: 1px solid red;
}

.currentLink {
	color: $hoverColor;

	&::after {
		background-color: $hoverColor;
		width: 100%;
	}
}
