@import "@/scss/";

.article {
	display: flex;
	flex-direction: column;
	gap: 40px;

	margin-bottom: 40px;

	@include desktop {
		gap: 56px;

		margin-bottom: 80px;
	}

	@include desktop {
		flex-direction: row;
		gap: 65px;

		margin-bottom: 120px;
	}

	.images {
		display: flex;
		flex-direction: column;
		gap: 24px;

		@include desktop {
			gap: 40px;
		}

		@include desktop {
			gap: 20px;
		}

		.wrapper {
			display: flex;
			justify-content: space-between;
			// gap: 17px;

			@include tablet {
				// gap: 24px;
			}

			@include desktop {
				// gap: 40px;
			}
		}

		.big {
			width: 100%;
			height: auto;

			@include desktop {
				width: 740px;
				height: 420px;
			}
		}

		.small {
			width: 163px;
			height: 123px;
			object-fit: cover;

			@include small-mobile {
				width: 45%;
			}

			@include tablet {
				width: 332px;
				height: 216px;
			}

			@include desktop {
				width: 350px;
				height: 260px;
			}
		}
	}

	.main {
		display: flex;
		flex-direction: column;
		gap: 24px;

		text-align: center;
		margin: 0 auto;

		font-size: 12px;
		font-weight: 400;
		line-height: 133.333%;

		@include tablet {
			width: 600px;

			font-size: 20px;
			line-height: 140%;
		}

		@include desktop {
			margin: 0;
			gap: 40px;

			width: 475px;
			text-align: start;
		}

		.title {
			font-size: 32px;
			font-weight: 600;
			text-transform: uppercase;

			@include tablet {
				font-size: 40px;
			}

			@include desktop {
				font-size: 64px;
				line-height: normal;
			}
		}
	}
}
