@import "@/scss/";

.article {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	gap: 24px;

	@include tablet {
		gap: 40px;
	}

	@include desktop {
		flex-direction: column;
		gap: 50px;
	}

	.main {
		width: 100%;

		display: flex;
		flex-direction: column;

		justify-content: space-between;

		@include desktop {
			flex-direction: row;
			gap: 50px;
		}
	}

	.side {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		gap: 24px;

		@include desktop {
			width: 630px;

			gap: 100px;
		}

		.nothing {
			font-size: 28px;
			font-weight: 400;
			line-height: 171.429%;
			letter-spacing: -0.616px;

			user-select: none;

			@include desktop {
				font-size: 40px;
				line-height: 120%;
				letter-spacing: -0.88px;
			}
		}
	}
}

.wrapper {
	@include desktop {
		width: 500px;
	}

	.subwrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: 24px;

		font-size: 20px;
		font-weight: 600;
		text-transform: uppercase;

		margin-bottom: 24px;

		@include tablet {
			flex-direction: row;
			align-items: flex-start;
			gap: 0;
		}

		@include desktop {
			margin-bottom: 50px;
		}
	}

	.text {
		text-align: center;
		font-size: 12px;
		font-weight: 400;
		line-height: 133.333%;

		max-width: 550px;

		margin: 0 auto 24px;

		@include tablet {
			font-size: 16px;
			line-height: 150%;
			margin: 0 auto 40px;
		}

		@include desktop {
			font-size: 20px;
			line-height: 140%;
			text-align: start;

			margin: 0 0 50px;
		}
	}

	.subtitle {
		color: #fd2626;
		font-size: 20px;
		font-weight: 600;
		text-transform: uppercase;
	}

	.phone {
		padding-bottom: 4px;
		font-weight: 500;
	}
}

.link {
	justify-self: flex-end;
	align-self: flex-end;
	padding: 10px;

	display: inline-flex;
	align-items: center;

	gap: 12px;

	font-weight: 500;
	line-height: 125%;

	margin: 0 auto;

	@include tablet {
		font-size: 20px;
		line-height: 100%;
		gap: 22px;
	}

	@include desktop {
		margin: 0;
	}

	.icon {
		width: 40px;
		height: 40px;
		background-color: currentColor;
		border-radius: 50%;

		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			color: $bgColor;
			transform: rotate(-180deg);
		}
	}
}
