@import "@/scss/";

.banner {
	background-color: $attention;

	padding: 135px 20px;

	color: $bgColor;
	text-align: center;
	font-size: 32px;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;

	margin-bottom: 40px;

	@include tablet {
		padding: 120px 40px;

		font-size: 40px;

		margin-bottom: 80px;
	}

	@include desktop {
		padding: 140px 200px;

		font-size: 64px;
		font-weight: 600;

		margin-bottom: 120px;
	}
}
